*{
    padding: 0;
    margin: 0;
}
#menu{
    background-color: cadetblue;
    width: 100%;;
    height: 30px;

}
body{
    font-family: Tahoma;
    font-size: 16px;
}
ul.root-menu-right li{
    list-style: none;
    float: right;
}
ul.root-menu-right li a{
    text-decoration: none;
    color: #FFF;
    padding: 0px 15px 0px 15px;
    line-height: 30px;
    display: block;

}
ul.root-menu-right li a:hover{
    background: burlywood;
    color: blue;
    transition: ease-in 0.40s;
    -moz-transition: ease-in 0.40s;
    -webkit-transition: ease-in 0.50s;

}
ul.root-menu-left li{
    list-style: none;
    float: left;
}
ul.root-menu-left li a{
    text-decoration: none;
    color: #FFF;
    padding: 0px 15px 0px 15px;
    line-height: 30px;
    display: block;

}
ul.root-menu-left li a:hover{
    background: burlywood;
    color: blue;
    transition: ease-in 0.40s;
    -moz-transition: ease-in 0.40s;
    -webkit-transition: ease-in 0.50s;

}
#header-inner img{
    width: 20px;
}
#header-inner{
    height: 100px;
    background-color: #dddddd;
}
#sale{
    width: 30%;
    padding-top: 40px;
    float: left;
    padding-left: 30px;
}
#logo{
    width: 30%;
    padding-top: 30px;
    float: left;
    text-align: center;
    /*padding-left: 30px;*/
    /*margin-left: 30px;*/
}
#seach{
    width: 30%;
    padding-top: 40px;
    float: right;
    text-align: center;
}
#wide-nav{
    text-align: center;
    background-color: #dddddd;
    height: 50px;
    position: relative;


}
ul.nav-menu li a {
    text-decoration: none;
    padding-left: 20px;


}
ul.nav-menu li{
    float: left;
    list-style: none;
}

ul.nav-menu{
    position: absolute;
    padding-left: 330px;
}
ul.nav-menu li a:hover{
    color: blue;
    transition: ease-in 0.40s;
    -moz-transition: ease-in 0.40s;
    -webkit-transition: ease-in 0.50s;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 300px;*/
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
    margin-right: 30px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.mySlides {
    display: none;
}

.fa-coffee {
    color: brown;
    font-size: 30px;
}
.card{
    margin-top: 10px;


}
#products{
    margin: 20px 150px ;
    /*height: 800px;*/
    /*display: flex;*/
}
#footer{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #454343;

}
.products-top{

    display: flex;
    flex-wrap: nowrap;
    margin: 20px auto;
}
.row-product{
    margin-left: 20px  ;
    width: 300px;
    height: 300px;
    background-color: cadetblue;
}
.products-center{

    display: flex;
    flex-wrap: nowrap;
    margin: 20px auto;
}
.products-bottom{

    display: flex;
    flex-wrap: nowrap;
    margin: 20px auto;
}
